# Configuración obligatoria para leer Keycloak desde Hashi Vault
VAULT_ADDR=https://vault.example.com
ROLE_ID=your-role-id
SECRET_ID=your-secret-id
VAULT_KV_MOUNT=Desarrollo
VAULT_KEYCLOAK_SECRET_PATH=external/systemcctv/qa/keycloak
